

.home {
    background-color: #30343F;
}
body{
    margin: 0;
    padding: 0;
    color: #DBE9EE;
}
nav{
    color: #DBE9EE;
}
.nav-link:hover{
    transform: scale(1.2);
}
.rounded-circle:hover{
    transform: scale(1.2);
}
.rounded-circle{
    color: #ffffff;
}