body{
    background-color: #ffdcbb;
}
.navbar-brand{
    padding-left: 1rem;
}
.navbar .navbar-nav .nav-link{
    color:#fff;
    font-size: 1em;
    padding: 1em;
}
.title {
 
    color: #E6B17E;

    font-size: 1.2em;
    text-align: center;
    text-shadow: 2px 2px black;
}
.slogan {
    color:#99592A;
    font-size: 1.2em;
    text-align: center;
    text-shadow: 2px  2px black;
}
/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
} */
.drinks .card-color{
    background-color: #E6B17E;
    border:none
}
.drinks{
    
    background-color: #E6B17E;
}
.footer{
    background-color: #99592A;
}
@media screen and (min-width: 768px) {
    /* .navbar-brand{
        width: 100px;
    } */
}